<div class="IconPreview">
  <div class="icon-main-container">
    <div class="icon-main-background">
      <img ref="IconMain" />
    </div>
  </div>
  
  <div class="icon-left-top-container corner-container">
    <div class="icon-left-top-background corner-background">
      <img ref="IconLeftTop" />
    </div>
  </div>
  
  <div class="icon-left-bottom-container corner-container">
    <div class="icon-left-bottom-background corner-background">
      <img ref="IconLeftBottom" />
    </div>
  </div>
  
  <div class="icon-right-top-container corner-container">
    <div class="icon-right-top-background corner-background">
      <img ref="IconRightTop" />
    </div>
  </div>
  
  <div class="icon-right-bottom-container corner-container">
    <div class="icon-right-bottom-background corner-background">
      <img ref="IconRightBottom" />
    </div>
  </div>
</div>