<div class="Index">
  <div>
    <div class="column">
      <IconPreview
        ref="IconPreview"
        v-bind:config="config"
        v-bind:localConfig="localConfig"
        v-bind:utils="utils">
      </IconPreview>
    </div>
    <div class="column">
      <IconConfiguration
        ref="IconConfiguration"
        v-bind:config="config"
        v-bind:localConfig="localConfig"
        v-bind:utils="utils">
      </IconConfiguration>
    </div>
  </div>
  
  <div class="buttons">
    <button type="button"
      class="ui fluid button"
      v-on:click="downloadIconPNG">
              DOWNLOAD PNG
    </button>
    <!--
    <button type="button"
      class="ui fluid button"
      v-on:click="downloadIconSVG">
              DOWNLOAD SVG
    </button>
    -->
  </div>
    
</div>